Repository softwaremill/FoXAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, locks

pylint:
  name: pylint
  entry: poetry run pylint --min-similarity-lines 6
  language: system
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: poetry run mypy

locks:
  name: Update locks
  entry: poetry lock
  language: system
  pass_filenames: false

Update code snippet with usage of WandBCallback
  README.md
Due: none

Add notebooks with different computer vision neural network models (#36)
  example/notebooks/basic_usage.ipynb
Due: none

Remove obsolete files
  example/streamlit_app/method_names.py
  example/streamlit_app/run_streamlit.py
Due: pylint

Add missing LitMNIST model definition
  example/mnist_wandb.py
Due: pylint

Fix calculating mean of attributes, fix displaying img, add flag to select only positive attributes
  autoxai/explainer/base_explainer.py
Due: pylint, mypy

Remove batch size dimension from visualized attributes and images, convert attributes before uploading to wandb
  autoxai/callbacks/wandb_callback.py
  autoxai/explainer/base_explainer.py
Due: pylint, mypy

Refactor attributes preprocessing in visualization, add unit tests
  autoxai/array_utils.py
  autoxai/explainer/base_explainer.py
  tests/test_array_utils.py
Due: pylint, mypy

Fix typo in WANDB placeholders
  README.md
Due: none

example for yolov5 usage
  .gitignore
  autoxai/explainer/noise_tunnel.py
  example/images/zidane.jpg
  example/yolov5_exmaple/xai.png
  example/yolov5_exmaple/yolo_utils.py
  example/yolov5_exmaple/yolo_xai.py
  poetry.lock
  pyproject.toml
Due: pylint, mypy, locks

Revert "example for yolov5 usage"
  .gitignore
  autoxai/explainer/noise_tunnel.py
  example/images/zidane.jpg
  example/yolov5_exmaple/xai.png
  example/yolov5_exmaple/yolo_utils.py
  example/yolov5_exmaple/yolo_xai.py
  poetry.lock
  pyproject.toml
Due: pylint, mypy, locks

example yolov5 usage with Noisetunnel
  .gitignore
  autoxai/explainer/noise_tunnel.py
  example/images/zidane.jpg
  example/yolov5_exmaple/xai.png
  example/yolov5_exmaple/yolo_utils.py
  example/yolov5_exmaple/yolo_xai.py
  poetry.lock
  pyproject.toml
Due: pylint, mypy, locks

Add scaling attributes to range 0-1
  autoxai/explainer/base_explainer.py
Due: pylint, mypy

Bump patch version
  poetry.lock
  pyproject.toml
Due: locks

poetry updated
  poetry.lock
Due: none

Remove obsolete files (#49)
  example/mnist_wandb.py
  example/streamlit_app/method_names.py
  example/streamlit_app/run_streamlit.py
Due: pylint

Add Guided Backpropagation explainer algorithm
  autoxai/context_manager.py
  autoxai/explainer/__init__.py
  autoxai/explainer/guided_backprop.py
Due: pylint, mypy

better functions docstrings
  autoxai/array_utils.py
  example/yolov5_exmaple/xai.png
  example/yolov5_exmaple/yolo_utils.py
  example/yolov5_exmaple/yolo_xai.py
Due: pylint, mypy

removinf conf and iou from global variables
  example/yolov5_exmaple/xai.png
  example/yolov5_exmaple/yolo_xai.py
Due: pylint

Add modifying model's ReLU activations
  autoxai/explainer/guided_backprop.py
Due: pylint, mypy

test: temporary limit number of Python and CUDA versions for test
  .github/workflows/installation_test.yaml
Due: none

feat: GH Actions testing AutoXAI installation on different Python and CUDA versions (#47)
  .github/workflows/installation_test.yaml
Due: none

fix: installation workflow typo
  .github/workflows/installation_test.yaml
Due: none

poetry.lock update
  poetry.lock
Due: none

Adding working Dockerfile, preliminarry FAQ and README changes
  Dockerfile
  FAQ.md
  README.md
Due: none

Github workflow for running with matrix strategy instead of tox
  .github/workflows/test.yaml
  .gitignore
Due: none

fix: update cuda versions
  .github/workflows/installation_test.yaml
Due: none

better xai_non_max_suppression description
  example/yolov5_exmaple/xai.png
  example/yolov5_exmaple/yolo_xai.py
Due: pylint

Parametrize tests to execute separately on different explainers, test context manager on not randomized explainer
  tests/test_context_manager.py
  tests/test_explainers.py
Due: pylint

Add optional parameters to explainers from captum library, add creating baselines if not passed
  autoxai/explainer/base_explainer.py
  autoxai/explainer/conductance.py
  autoxai/explainer/deconv.py
  autoxai/explainer/deeplift.py
  autoxai/explainer/deeplift_shap.py
  autoxai/explainer/gradcam.py
  autoxai/explainer/gradient_shap.py
  autoxai/explainer/input_x_gradient.py
  autoxai/explainer/integrated_gradients.py
  autoxai/explainer/lrp.py
  autoxai/explainer/noise_tunnel.py
  autoxai/explainer/occlusion.py
  autoxai/explainer/saliency.py
Due: pylint, mypy

Add missing documentation modules.rst file
  docs/source/modules.rst
Due: none

Adding collapsible heading to FAQ
  FAQ.md
Due: none

Remove debug print
  autoxai/explainer/deeplift_shap.py
Due: pylint, mypy

Adjust GH Actions to use CUDA container in GPU runner
  .github/workflows/installation_test.yaml
Due: none

Remove parameter type from docstrings
  autoxai/explainer/conductance.py
Due: pylint, mypy

Fix creating baselines from tensor shape, remove commented out parameter from GradCAM
  autoxai/explainer/deeplift.py
  autoxai/explainer/deeplift_shap.py
  autoxai/explainer/gradcam.py
  autoxai/explainer/gradient_shap.py
  autoxai/explainer/integrated_gradients.py
  autoxai/explainer/occlusion.py
Due: pylint, mypy

Path conditions:
  pylint: any of: \.py$
  mypy: any of: autoxai and \.py$
  locks: any of: pyproject.toml
