Repository softwaremill/FoXAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, locks

.pre-commit-config.yaml:

fail_fast: false
default_stages: [commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        args: [ --profile, black, --filter-files ]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        require_serial: true
        types_or: [ python, pyi ]
      - id: pylint
        name: pylint
        entry: poetry run pylint --min-similarity-lines 6
        language: system
        types: [ python ]
        require_serial: true
      - id: mypy
        name: mypy
        language: system
        files: autoxai
        types: [ python ]
        entry: poetry run mypy
      - id: locks
        name: Update locks
        files: pyproject.toml
        entry: poetry lock
        language: system
        pass_filenames: false

Fix package name in pyproject.toml
  pyproject.toml
Due: locks

Add entry about recommended CUDA version and pyenv
  README.md
Due: none

Add catching exception in calulating features and drawing attributes, add GuidedGradCAM layer selection
  example/streamlit_app/run_streamlit.py
Due: pylint

Change kwargs argument name, unify 'layer' argument name passed to explainers
  example/streamlit_app/run_streamlit.py
  example/streamlit_app/settings.py
  src/explainer/gradcam.py
  src/explainer/gradient_shap.py
  src/explainer/integrated_gradients.py
  src/explainer/lrp.py
  src/explainer/noise_tunnel.py
Due: pylint

Fix docstrings of create_explainer function
  src/explainer/gradcam.py
  src/explainer/gradient_shap.py
  src/explainer/integrated_gradients.py
  src/explainer/lrp.py
  src/explainer/noise_tunnel.py
  src/explainer/occulusion.py
Due: pylint

Add Saliency algorithm
  example/streamlit_app/method_names.py
  example/streamlit_app/run_streamlit.py
  src/explainer/saliency.py
Due: pylint

Add DeepLIFT algorithm
  example/streamlit_app/method_names.py
  example/streamlit_app/run_streamlit.py
  src/explainer/deeplift.py
Due: pylint

Add DeepLIFT SHAP algorithm
  example/streamlit_app/method_names.py
  example/streamlit_app/run_streamlit.py
  src/explainer/deeplift_shap.py
Due: pylint

Add Deconvolution algorithm
  example/streamlit_app/method_names.py
  example/streamlit_app/run_streamlit.py
  src/explainer/deconv.py
Due: pylint

Add Input x Gradient algorithm
  example/streamlit_app/method_names.py
  example/streamlit_app/run_streamlit.py
  src/explainer/input_x_gradient.py
Due: pylint

Add Layer Conductance algorithm
  example/streamlit_app/method_names.py
  example/streamlit_app/run_streamlit.py
  src/explainer/conductance.py
Due: pylint

Add standardization of matrices, generate figure with respect to presence of negative attributions
  src/explainer/base_explainer.py
  src/explainer/model_utils.py
Due: pylint

Add fixed version of torch and torchvision
  poetry.lock
  pyproject.toml
Due: locks

Bump patch version
  pyproject.toml
Due: locks

Fix installing package from wheel, rename package (#6)
  .pre-commit-config.yaml
  README.md
  autoxai/__init__.py
  autoxai/cache_manager.py
  autoxai/callback.py
  autoxai/explainer/__init__.py
  autoxai/explainer/base_explainer.py
  autoxai/explainer/gradcam.py
  autoxai/explainer/gradient_shap.py
  autoxai/explainer/integrated_gradients.py
  autoxai/explainer/lrp.py
  autoxai/explainer/model_utils.py
  autoxai/explainer/noise_tunnel.py
  autoxai/explainer/occulusion.py
  autoxai/path_manager.py
  example/mnist.py
  example/offline_resnet.py
  example/streamlit_app/method_names.py
  example/streamlit_app/mnist_model.py
  example/streamlit_app/run_streamlit.py
  example/streamlit_app/streamlit_utils.py
  example/streamlit_app/visualization_utils.py
  poetry.lock
  pyproject.toml
Due: pylint, mypy, locks

context manager added for xai generation
  autoxai/context_manager.py
  autoxai/explainer/__init__.py
  example/images/pikachu_image.png
Due: pylint, mypy

refactoring
  autoxai/context_manager.py
Due: pylint, mypy

refactoring
  autoxai/context_manager.py
  autoxai/explainer/__init__.py
  pylintrc
Due: pylint, mypy

removed unused code
  autoxai/context_manager.py
Due: pylint, mypy

better documentation
  autoxai/context_manager.py
  autoxai/explainer/base_explainer.py
Due: pylint, mypy

CVExplainerT fixed
  autoxai/context_manager.py
  autoxai/explainer/base_explainer.py
Due: pylint, mypy

fixed positive and negative visualizations of xai attributes
  autoxai/explainer/base_explainer.py
  autoxai/logger.py
Due: pylint, mypy

Setup loaded model to eval mode
  example/streamlit_app/model_utils.py
  poetry.lock
Due: pylint

Fix/9 (#13)
  example/streamlit_app/model_utils.py
  poetry.lock
  pyproject.toml
Due: pylint, locks

lrp missing rules fixed
  autoxai/explainer/base_explainer.py
  autoxai/explainer/gradcam.py
  autoxai/explainer/lrp.py
  autoxai/explainer/model_utils.py
Due: pylint, mypy

Add conversion image to uint8 before displaying
  autoxai/explainer/base_explainer.py
Due: pylint, mypy

Fix/add converting array to uint8
  autoxai/array_utils.py
  autoxai/explainer/base_explainer.py
Due: pylint, mypy

Bump patch version
  poetry.lock
  pyproject.toml
Due: locks

Add exception handling in Streamlit demo app (#7)
  example/streamlit_app/run_streamlit.py
Due: pylint

Revert visualization error handling due to #12 PR
  src/explainer/base_explainer.py
Due: pylint

Mark model argument type with TODO
  src/explainer/base_explainer.py
Due: pylint

Remove incorrect standardization method
  autoxai/explainer/base_explainer.py
  autoxai/explainer/model_utils.py
Due: pylint, mypy

Add more algorithms (#8)
  .pre-commit-config.yaml
  autoxai/explainer/base_explainer.py
  autoxai/explainer/conductance.py
  autoxai/explainer/deconv.py
  autoxai/explainer/deeplift.py
  autoxai/explainer/deeplift_shap.py
  autoxai/explainer/gradcam.py
  autoxai/explainer/input_x_gradient.py
  autoxai/explainer/integrated_gradients.py
  autoxai/explainer/lrp.py
  autoxai/explainer/occulusion.py
  autoxai/explainer/saliency.py
  example/streamlit_app/method_names.py
  example/streamlit_app/run_streamlit.py
  example/streamlit_app/settings.py
  pyproject.toml
Due: pylint, mypy, locks

gitignore added
  .gitignore
Due: none

pytests added
  autoxai/__init__.py
  poetry.lock
  pylintrc
  pyproject.toml
  pytest.ini
  tests/__init__.py
  tests/test_autoxai.py
  tests/test_visualizer.py
Due: pylint, mypy, locks

Add wandb callback and example
  .pre-commit-config.yaml
  autoxai/callbacks/__init__.py
  autoxai/callbacks/wandb_callback.py
  example/mnist_wandb.py
  mypy.ini
  poetry.lock
  pyproject.toml
Due: pylint, mypy, locks

Refine docstrings, remove unused optional fields
  autoxai/callbacks/wandb_callback.py
Due: pylint, mypy
