Repository softwaremill/FoXAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, pytest, locks

pylint:
  name: pylint
  entry: poetry run pylint --min-similarity-lines 8
  language: system
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: poetry run mypy
  args:
  - --ignore-missing-imports

pytest:
  name: pytest
  entry: poetry run pytest tests/
  language: system
  pass_filenames: false

locks:
  name: Update locks
  entry: poetry lock
  language: system
  pass_filenames: false

Update action.yaml - poetry shell
  .github/actions/build-module/action.yaml
Due: none

Update action.yaml - poetry run pip
  .github/actions/build-module/action.yaml
Due: none

Update action.yaml - `poetry run pip`
  .github/actions/build-module/action.yaml
Due: none

Separate Black Action
  .github/workflows/black.yaml
Due: none

Update black.yaml- reviewdog
  .github/workflows/black.yaml
Due: none

Update black.yaml - add suggester
  .github/workflows/black.yaml
Due: none

Update black.yaml
  .github/workflows/black.yaml
Due: none

Create test_array_utils_copy.py - check suggestions from reviewdog
  tests/test_array_utils_copy.py
Due: pylint, pytest

Update black.yaml - add mypy
  .github/workflows/black.yaml
Due: none

Update black.yaml - fix src dir
  .github/workflows/black.yaml
Due: none

Update black.yaml - no poetry for mypy
  .github/workflows/black.yaml
Due: none

Update black.yaml - update mypy workdir
  .github/workflows/black.yaml
Due: none

Update and rename black.yaml to lint.yaml
  .github/workflows/lint.yaml
Due: none

Update action.yaml - remove lint from testing
  .github/actions/build-module/action.yaml
Due: none

Delete tests/test_array_utils_copy.py
  tests/test_array_utils_copy.py
Due: pylint, pytest

Update ci.yaml - change name `development` to `develop`
  .github/workflows/ci.yaml
Due: none

run default CI on torch-cpu (#128)
  .github/actions/build-module/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/lint.yaml
Due: none

Update tests/test_array_utils.py
  tests/test_array_utils.py
Due: pylint, pytest

Input X Gradient prioprietary - Issue 110 (#121)
  foxai/explainer/computer_vision/algorithm/gradient_utils.py
  foxai/explainer/computer_vision/algorithm/input_x_gradient.py
  tests/explainers/computer_vision/algorithm/test_gradient_utils.py
  tests/explainers/computer_vision/test_explainers.py
Due: pylint, mypy, pytest

Review tips.
  foxai/explainer/computer_vision/algorithm/gradient_utils.py
  foxai/explainer/computer_vision/algorithm/input_x_gradient.py
  foxai/explainer/computer_vision/algorithm/saliency.py
Due: pylint, mypy

Review tips.
  foxai/explainer/computer_vision/algorithm/input_x_gradient.py
  foxai/explainer/computer_vision/algorithm/saliency.py
Due: pylint, mypy

Proprietary implementation of Saliency algorithm (#127)
  foxai/explainer/computer_vision/algorithm/gradient_utils.py
  foxai/explainer/computer_vision/algorithm/input_x_gradient.py
  foxai/explainer/computer_vision/algorithm/saliency.py
  tests/explainers/computer_vision/test_explainers.py
Due: pylint, mypy, pytest

Update installation_test_auto_run.yaml
  .github/workflows/installation_test_auto_run.yaml
Due: none

Update installation_test_auto_run.yaml - test the workflaw
  .github/workflows/installation_test_auto_run.yaml
Due: none

LRP algorithm - first version
  foxai/context_manager.py
  foxai/explainer/__init__.py
  foxai/explainer/computer_vision/algorithm/lrp.py
  foxai/explainer/computer_vision/algorithm/lrp_old.py
  foxai/explainer/computer_vision/algorithm/lrp_rules.py
Due: pylint, mypy

Update .github/workflows/installation_test_auto_run.yaml
  .github/workflows/installation_test_auto_run.yaml
Due: none

Add example usage of Quantus library to select the best XAI method
  example/notebooks/autoxai.ipynb
Due: none

Add unit tests
  foxai/explainer/computer_vision/algorithm/input_x_gradient.py
  foxai/explainer/computer_vision/algorithm/lrp.py
  foxai/explainer/computer_vision/algorithm/lrp_rules.py
  tests/explainers/computer_vision/algorithm/test_lrp_rules.py
  tests/explainers/computer_vision/test_explainers.py
Due: pylint, mypy, pytest

Update installation_test_auto_run.yaml (#130)
  .github/workflows/installation_test_auto_run.yaml
Due: none

Add unit tests
  foxai/explainer/computer_vision/algorithm/lrp.py
  tests/explainers/computer_vision/algorithm/test_lrp.py
Due: pylint, mypy, pytest

Cleanup
  foxai/context_manager.py
  foxai/explainer/__init__.py
  foxai/explainer/computer_vision/algorithm/lrp_old.py
Due: pylint, mypy

Unify prediction label type.
  foxai/explainer/base_explainer.py
  foxai/explainer/computer_vision/algorithm/conductance.py
  foxai/explainer/computer_vision/algorithm/deconv.py
  foxai/explainer/computer_vision/algorithm/deeplift.py
  foxai/explainer/computer_vision/algorithm/deeplift_shap.py
  foxai/explainer/computer_vision/algorithm/gradcam.py
  foxai/explainer/computer_vision/algorithm/gradient_shap.py
  foxai/explainer/computer_vision/algorithm/guided_backprop.py
  foxai/explainer/computer_vision/algorithm/integrated_gradients.py
  foxai/explainer/computer_vision/algorithm/noise_tunnel.py
  foxai/explainer/computer_vision/algorithm/occlusion.py
  foxai/explainer/computer_vision/algorithm/xrai.py
  foxai/explainer/fullgradient.py
  foxai/types.py
Due: pylint, mypy

Review comments
  foxai/explainer/computer_vision/algorithm/lrp.py
  tests/explainers/computer_vision/algorithm/test_lrp.py
Due: pylint, mypy, pytest

LRP remove captum dependencies (#131)
  foxai/explainer/computer_vision/algorithm/input_x_gradient.py
  foxai/explainer/computer_vision/algorithm/lrp.py
  foxai/explainer/computer_vision/algorithm/lrp_rules.py
  tests/explainers/computer_vision/algorithm/test_lrp.py
  tests/explainers/computer_vision/algorithm/test_lrp_rules.py
  tests/explainers/computer_vision/test_explainers.py
Due: pylint, mypy, pytest

Discarding Opencv version 4.8.0.76 from project.toml
  .github/PULL_REQUEST_TEMPLATE.md
  poetry.lock
  pyproject.toml
Due: locks

Fix target type (#133)
  foxai/explainer/base_explainer.py
  foxai/explainer/computer_vision/algorithm/conductance.py
  foxai/explainer/computer_vision/algorithm/deconv.py
  foxai/explainer/computer_vision/algorithm/deeplift.py
  foxai/explainer/computer_vision/algorithm/deeplift_shap.py
  foxai/explainer/computer_vision/algorithm/gradcam.py
  foxai/explainer/computer_vision/algorithm/gradient_shap.py
  foxai/explainer/computer_vision/algorithm/guided_backprop.py
  foxai/explainer/computer_vision/algorithm/integrated_gradients.py
  foxai/explainer/computer_vision/algorithm/noise_tunnel.py
  foxai/explainer/computer_vision/algorithm/occlusion.py
  foxai/explainer/computer_vision/algorithm/xrai.py
  foxai/explainer/fullgradient.py
  foxai/types.py
Due: pylint, mypy

Add star chart to README
  README.md
Due: none

Add star chart to README (#143)
  README.md
Due: none

Path conditions:
  pylint: any of: \.py$
  mypy: any of: foxai and \.py$
  pytest: any of: tests/
  locks: any of: pyproject.toml
