Repository softwaremill/FoXAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, pytest, locks

.pre-commit-config.yaml:

fail_fast: false
default_stages: [commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: [ --profile, black, --filter-files ]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        require_serial: true
        types_or: [ python, pyi ]
      - id: pylint
        name: pylint
        entry: poetry run pylint --min-similarity-lines 8
        language: system
        types: [ python ]
        require_serial: true
      - id: mypy
        name: mypy
        language: system
        files: foxai
        types: [ python ]
        entry: poetry run mypy
        args: ["--ignore-missing-imports"]
      - id: pytest
        name: pytest
        files: tests/
        entry: poetry run pytest tests/
        language: system
        pass_filenames: false
      - id: locks
        name: Update locks
        files: pyproject.toml
        entry: poetry lock
        language: system
        pass_filenames: false

Update examples code
  example/notebooks/basic_usage.ipynb
  example/notebooks/focus_metric_example.ipynb
  example/yolov5_exmaple/yolo_xai.py
  poetry.lock
  pyproject.toml
Due: pylint, locks

Add xrai explainer
  README.md
Due: none

[Issue 84] Add table of explainers (#102)
  README.md
Due: none

Update ci.yaml - bump poetry to 1.5.1
  .github/workflows/ci.yaml
Due: none

Update publish_docs.yaml - bump poetry to 1.5.1
  .github/workflows/publish_docs.yaml
Due: none

Update examples code (#118)
  example/notebooks/basic_usage.ipynb
  example/notebooks/focus_metric_example.ipynb
  example/yolov5_exmaple/yolo_xai.py
  poetry.lock
  pyproject.toml
Due: pylint, locks

Improving readability of charts for insertion and deletion
  docker-compose.yml
  example/notebooks/deletion_insertion_metric_example.ipynb
  foxai/metrics/insertion_deletion_metrics.py
  foxai/visualizer.py
Due: pylint, mypy

Improving Dockerfile to accomodate changes in Python versions
  Dockerfile
Due: none

feat: installation test on PR
  .github/workflows/installation_test_auto_run.yaml
  .github/workflows/installation_test_called_workflow.yaml
  .github/workflows/installation_test_manual_run.yaml
Due: none

chore: add python and cuda version to workflow run name
  .github/workflows/installation_test_auto_run.yaml
  .github/workflows/installation_test_manual_run.yaml
Due: none

fix: workflow runname
  .github/workflows/installation_test_auto_run.yaml
  .github/workflows/installation_test_called_workflow.yaml
Due: none

featL set fail-fast parameter on matrix installation test
  .github/workflows/installation_test_auto_run.yaml
Due: none

fix: shrink number of supported python version
  .github/workflows/installation_test_auto_run.yaml
  .github/workflows/installation_test_manual_run.yaml
Due: none

fix: change cuda memory reservation to 5g
  .github/workflows/installation_test_called_workflow.yaml
Due: none

feat: increase cuda container cpu(3vcpus) and memory(10Gi) requests
  .github/workflows/installation_test_called_workflow.yaml
Due: none

fix: cuda container cpu request
  .github/workflows/installation_test_called_workflow.yaml
Due: none

chore: installation test run on push to main branch
  .github/workflows/installation_test_auto_run.yaml
  .github/workflows/installation_test_manual_run.yaml
Due: none

Proprietary implementation of InputXGradient algorithm - part 1
  foxai/context_manager.py
  foxai/explainer/__init__.py
  foxai/explainer/computer_vision/algorithm/gradient_utils.py
  foxai/explainer/computer_vision/algorithm/input_x_gradient.py
  foxai/explainer/computer_vision/algorithm/input_x_gradient_old.py
  tests/explainers/computer_vision/test_explainers.py
Due: pylint, mypy, pytest

Revert lower boundaries for libraries
  poetry.lock
  pyproject.toml
Due: locks

WIP testing various package versions
  .github/actions/build-module/action.yaml
  .github/workflows/installation_test_auto_run.yaml
  .github/workflows/installation_test_called_workflow.yaml
  .github/workflows/installation_test_manual_run.yaml
Due: none

Add table with tutorials, move explainers list before Development section
  README.md
Due: none

Add selection of torch and pytorch-lightning versions to manual tests
  .github/workflows/installation_test_manual_run.yaml
Due: none

Update workflow run-name
  .github/workflows/installation_test_manual_run.yaml
Due: none

Add contributing guide
  CONTRIBUTING.md
Due: none

Fix test dependencies installation
  .github/actions/build-module/action.yaml
  .github/workflows/installation_test_called_workflow.yaml
  .github/workflows/installation_test_manual_run.yaml
Due: none

Change order of dependencies installation
  .github/actions/build-module/action.yaml
Due: none

Refine manual version testing instruction
  CONTRIBUTING.md
Due: none

Review resolve
  foxai/context_manager.py
  foxai/explainer/__init__.py
  foxai/explainer/computer_vision/algorithm/gradient_utils.py
  foxai/explainer/computer_vision/algorithm/input_x_gradient.py
  foxai/explainer/computer_vision/algorithm/input_x_gradient_old.py
Due: pylint, mypy

Upgrade pandas, pytroch, pytorch-lightning (#88)
  foxai/metrics/insertion_deletion_metrics.py
  poetry.lock
  pyproject.toml
Due: pylint, mypy, locks

Add tests
  foxai/explainer/computer_vision/algorithm/gradient_utils.py
  tests/explainers/computer_vision/algorithm/test_gradient_utils.py
Due: pylint, mypy, pytest

Add comment
  foxai/explainer/computer_vision/algorithm/gradient_utils.py
Due: pylint, mypy

Uninstall packages before installing specific versions
  .github/actions/build-module/action.yaml
Due: none

Use own methods for saliency computations.
  foxai/explainer/computer_vision/algorithm/saliency.py
  tests/explainers/computer_vision/test_explainers.py
Due: pylint, mypy, pytest

run default CI on torch-cpu
  .github/workflows/ci.yaml
Due: none

Update action.yaml - disable quiet poetry install
  .github/actions/build-module/action.yaml
Due: none

Update action.yaml - check python exec path
  .github/actions/build-module/action.yaml
Due: none

Update action.yaml - env path
  .github/actions/build-module/action.yaml
Due: none
