Repository softwaremill/FoXAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, locks

.pre-commit-config.yaml:

fail_fast: false
default_stages: [commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        args: [ --profile, black, --filter-files ]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        require_serial: true
        types_or: [ python, pyi ]
      - id: pylint
        name: pylint
        entry: poetry run pylint --min-similarity-lines 6
        language: system
        types: [ python ]
        require_serial: true
      - id: mypy
        name: mypy
        language: system
        files: autoxai
        types: [ python ]
        entry: poetry run mypy
      - id: locks
        name: Update locks
        files: pyproject.toml
        entry: poetry lock
        language: system
        pass_filenames: false

Add CLI program to add explanations to existing W&B experiment run
  autoxai/cli/__init__.py
  autoxai/cli/experiment_update.py
Due: pylint, mypy

Filter out artifacts from other experiments in update program
  autoxai/cli/experiment_update.py
Due: pylint, mypy

Remove commented out import
  autoxai/cli/experiment_update.py
Due: pylint, mypy

Add support for providing JSON config with desired explainers and their parameters
  autoxai/cli/config_model.py
  autoxai/cli/experiment_update.py
  autoxai/explainer_helper.py
Due: pylint, mypy

Update README, add 'Getting started' section with example, add table of content
  README.md
Due: none

Add CLI tool, fix dependencies to be installed with wheel
  README.md
  poetry.lock
  pyproject.toml
Due: locks

better tests for the explainer visualization output
  autoxai/explainer/base_explainer.py
  mypy.ini
  tests/test_visualizer.py
Due: pylint, mypy

Add variants for dependencies based on Python version and platform, fix installing from wheel
  poetry.lock
  pyproject.toml
Due: locks

Move loggin images to at training start, rename arguments, minor fixes
  autoxai/callbacks/wandb_callback.py
Due: pylint, mypy

tying values of this enum with property algorithm_name of CVExplainer subclasses
  autoxai/context_manager.py
  autoxai/explainer/__init__.py
Due: pylint, mypy

toggle model to eval mode automatically
  autoxai/context_manager.py
Due: pylint, mypy

tests added for context manager
  autoxai/logger.py
  tests/test_context_manager.py
Due: pylint, mypy

more tests added for context manager
  tests/test_context_manager.py
Due: pylint

argument issue fix in context manager
  autoxai/context_manager.py
Due: pylint, mypy

Remove specifying CUDA version of torch package in pyproject, update docs
  README.md
  poetry.lock
  pyproject.toml
Due: locks

Change default number of logged artifacts
  autoxai/callbacks/wandb_callback.py
Due: pylint, mypy

Bump patch version
  poetry.lock
  pyproject.toml
Due: locks

add_rules for lrp and modify_modules split into 2 spearate functions
  autoxai/explainer/base_explainer.py
  autoxai/explainer/gradcam.py
  autoxai/explainer/lrp.py
  autoxai/explainer/model_utils.py
Due: pylint, mypy

module docstring added
  autoxai/explainer/model_utils.py
Due: pylint, mypy

Add conversion image to uint8 before displaying (#15)
  autoxai/array_utils.py
  autoxai/explainer/base_explainer.py
  poetry.lock
  pyproject.toml
Due: pylint, mypy, locks

context manager accepts **kwargs and gradient bug fixed
  autoxai/context_manager.py
Due: pylint, mypy

tests fixed
  autoxai/context_manager.py
  tests/test_context_manager.py
Due: pylint, mypy

Add initial version of Sphinx documentation
  docs/Makefile
  docs/make.bat
  docs/source/autoxai.explainer.rst
  docs/source/autoxai.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/modules.rst
  poetry.lock
  pyproject.toml
Due: pylint, locks

tests added for kwargs testing and gradient enabled testing
  autoxai/context_manager.py
  tests/test_context_manager.py
Due: pylint, mypy

logger | changed to Optional
  autoxai/context_manager.py
Due: pylint, mypy

Add installation section to documentation, add API Reference section
  docs/source/index.rst
  docs/source/install.rst
Due: none

Add workflow with building Sphinx documentation
  .github/workflows/sphinx_docs_check.yaml
Due: none

Add fixed Python version in CI
  .github/workflows/sphinx_docs_check.yaml
Due: none

Add missing directories
  docs/_static/.gitkeep
  docs/_templates/.gitkeep
Due: none

Remove cached generated documentation of code
  docs/source/autoxai.explainer.rst
  docs/source/autoxai.rst
  docs/source/modules.rst
Due: none

Add installing single-source dependency for building sphinx docs
  .github/workflows/sphinx_docs_check.yaml
Due: none

Add installing dependencies using Poetry
  .github/workflows/sphinx_docs_check.yaml
Due: none

Update poetry.lock with dependencies used for building docs
  .github/workflows/sphinx_docs_check.yaml
  poetry.lock
Due: none

Fix and update docstrings
  autoxai/cache_manager.py
  autoxai/explainer/base_explainer.py
  autoxai/explainer/model_utils.py
  autoxai/path_manager.py
Due: pylint, mypy

dockstring for __exit__ call in the context manager
  autoxai/context_manager.py
Due: pylint, mypy

Bump patch version
  pyproject.toml
Due: locks

Sphinx documentation (#32)
  .github/workflows/sphinx_docs_check.yaml
  autoxai/cache_manager.py
  autoxai/explainer/base_explainer.py
  autoxai/explainer/model_utils.py
  autoxai/path_manager.py
  docs/Makefile
  docs/_static/.gitkeep
  docs/_templates/.gitkeep
  docs/make.bat
  docs/source/conf.py
  docs/source/index.rst
  docs/source/install.rst
  poetry.lock
  pyproject.toml
Due: pylint, mypy, locks

Update wandb callback with context manager
  autoxai/callbacks/wandb_callback.py
  example/mnist_wandb.py
Due: pylint, mypy

Add context manager to CLI app, add explainers to package __init__.py
  autoxai/cli/config_model.py
  autoxai/cli/experiment_update.py
  autoxai/explainer/__init__.py
  autoxai/explainer_helper.py
Due: pylint, mypy

Fix wrong variable name: rename prediction to target_label
  autoxai/callback.py
  autoxai/callbacks/wandb_callback.py
Due: pylint, mypy
