Repository softwaremill/FoXAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, locks

.pre-commit-config.yaml:

fail_fast: false
default_stages: [commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        args: [ --profile, black, --filter-files ]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        require_serial: true
        types_or: [ python, pyi ]
      - id: pylint
        name: pylint
        entry: poetry run pylint --min-similarity-lines 6
        language: system
        types: [ python ]
        require_serial: true
      - id: mypy
        name: mypy
        language: system
        files: autoxai
        types: [ python ]
        entry: poetry run mypy
      - id: locks
        name: Update locks
        files: pyproject.toml
        entry: poetry lock
        language: system
        pass_filenames: false

Update autoxai/explainer/conductance.py
  autoxai/explainer/conductance.py
Due: pylint, mypy

Add description for installed dependencies
  example/notebooks/explain.ipynb
Due: none

Add hydra to CLI updater tool
  README.md
  autoxai/cli/experiment_update.py
  poetry.lock
  pyproject.toml
Due: pylint, mypy, locks

Remove Streamlit demo app, custom callback, update README
  README.md
  example/custom_callback/cache_manager.py
  example/custom_callback/callback.py
  example/custom_callback/path_manager.py
  example/mnist.py
  example/offline_resnet.py
  example/streamlit_app/README.md
  example/streamlit_app/__init__.py
  example/streamlit_app/method_names.py
  example/streamlit_app/mnist_model.py
  example/streamlit_app/model_utils.py
  example/streamlit_app/run_streamlit.py
  example/streamlit_app/settings.py
  example/streamlit_app/streamlit_utils.py
  example/streamlit_app/visualization_utils.py
  poetry.lock
  pyproject.toml
Due: pylint, locks

Add visualization of pixel relevance as mask on image
  autoxai/explainer/base_explainer.py
  poetry.lock
  pyproject.toml
Due: pylint, mypy, locks

Fix obtaining attributes from batch to process
  autoxai/explainer/base_explainer.py
Due: pylint, mypy

Fix obtaining attributes from batch to process, remove obsolete unit tests
  tests/test_visualizer.py
Due: pylint

Add check if correct CUDA version in torch is installed
  tests/test_explainers.py
Due: pylint

Add unit tests for model_utils.py
  autoxai/explainer/model_utils.py
  tests/sample_model.py
  tests/test_model_utils.py
Due: pylint, mypy

Add unit tests for conductance explainer
  tests/test_explainers.py
Due: pylint

Add unit tests for deconvolution explainer
  autoxai/explainer/deconv.py
  tests/test_explainers.py
Due: pylint, mypy

Add unit tests for DeepLiftShap explainer
  tests/test_explainers.py
Due: pylint

Add unit tests for DeepLift explainer
  tests/test_explainers.py
Due: pylint

Add unit tests for GradCAM explainer
  tests/test_explainers.py
Due: pylint

Add unit tests for GradientSHAP explainer
  autoxai/explainer/gradient_shap.py
  tests/test_explainers.py
Due: pylint, mypy

Add unit tests for InputXGradient explainer
  autoxai/explainer/input_x_gradient.py
  tests/test_explainers.py
Due: pylint, mypy

Add info about loading last conv layer from model as fallback to docstring
  autoxai/explainer/deeplift.py
  autoxai/explainer/deeplift_shap.py
  autoxai/explainer/gradient_shap.py
  autoxai/explainer/integrated_gradients.py
  autoxai/explainer/lrp.py
  autoxai/explainer/noise_tunnel.py
Due: pylint, mypy

Add unit tests for LRP explainer
  autoxai/explainer/lrp.py
Due: pylint, mypy

Add unit tests for IntegratedGradients explainer
  autoxai/explainer/integrated_gradients.py
  tests/test_explainers.py
Due: pylint, mypy

Add unit tests for NoiseTunnel explainer
  autoxai/explainer/noise_tunnel.py
  tests/test_explainers.py
Due: pylint, mypy

Add unit tests for Occlusion explainer, fix typo in algo name
  autoxai/context_manager.py
  autoxai/explainer/__init__.py
  autoxai/explainer/gradcam.py
  autoxai/explainer/noise_tunnel.py
  autoxai/explainer/occlusion.py
  example/streamlit_app/method_names.py
  example/streamlit_app/run_streamlit.py
  tests/test_explainers.py
Due: pylint, mypy

Add unit tests for Saliency explainer
  autoxai/explainer/saliency.py
  tests/test_explainers.py
Due: pylint, mypy

Extract tensor reshaping and conversion to array_utils.py, add unit tests
  autoxai/array_utils.py
  autoxai/explainer/base_explainer.py
  tests/test_array_utils.py
Due: pylint, mypy

Bump patch version
  poetry.lock
  pyproject.toml
Due: locks

Remove Streamlit demo app and custom callback (#43)
  README.md
  example/custom_callback/cache_manager.py
  example/custom_callback/callback.py
  example/custom_callback/path_manager.py
  example/mnist.py
  example/offline_resnet.py
  example/streamlit_app/README.md
  example/streamlit_app/__init__.py
  example/streamlit_app/method_names.py
  example/streamlit_app/mnist_model.py
  example/streamlit_app/model_utils.py
  example/streamlit_app/run_streamlit.py
  example/streamlit_app/settings.py
  example/streamlit_app/streamlit_utils.py
  example/streamlit_app/visualization_utils.py
  poetry.lock
  pyproject.toml
Due: pylint, locks

Bump minor version
  pyproject.toml
Due: locks

Add hydra to CLI updater tool (#40)
  README.md
  autoxai/cli/experiment_update.py
  poetry.lock
  pyproject.toml
Due: pylint, mypy, locks

Bump patch version
  pyproject.toml
Due: locks

Remove unused ExplaantionMethods dataclass
  autoxai/explainer/base_explainer.py
Due: pylint, mypy

feat: GH Actions testing AutoXAI installation on different Python and CUDA versions
  .github/workflows/installation_test.yaml
Due: none

Extract attributes validation to base class
  autoxai/explainer/base_explainer.py
  autoxai/explainer/conductance.py
  autoxai/explainer/deconv.py
  autoxai/explainer/deeplift.py
  autoxai/explainer/deeplift_shap.py
  autoxai/explainer/gradcam.py
  autoxai/explainer/gradient_shap.py
  autoxai/explainer/input_x_gradient.py
  autoxai/explainer/integrated_gradients.py
  autoxai/explainer/lrp.py
  autoxai/explainer/noise_tunnel.py
  autoxai/explainer/occlusion.py
  autoxai/explainer/saliency.py
Due: pylint, mypy

Move validation_result function to array_utils.py
  autoxai/array_utils.py
  autoxai/explainer/base_explainer.py
  autoxai/explainer/conductance.py
  autoxai/explainer/deconv.py
  autoxai/explainer/deeplift.py
  autoxai/explainer/deeplift_shap.py
  autoxai/explainer/gradcam.py
  autoxai/explainer/gradient_shap.py
  autoxai/explainer/input_x_gradient.py
  autoxai/explainer/integrated_gradients.py
  autoxai/explainer/lrp.py
  autoxai/explainer/noise_tunnel.py
  autoxai/explainer/occlusion.py
  autoxai/explainer/saliency.py
Due: pylint, mypy

Update calculate_feature function docstrings
  autoxai/explainer/deconv.py
  autoxai/explainer/deeplift.py
  autoxai/explainer/deeplift_shap.py
  autoxai/explainer/gradient_shap.py
  autoxai/explainer/input_x_gradient.py
  autoxai/explainer/integrated_gradients.py
  autoxai/explainer/lrp.py
  autoxai/explainer/noise_tunnel.py
  autoxai/explainer/occlusion.py
  autoxai/explainer/saliency.py
Due: pylint, mypy

Add fetching last conv layer if no layer provided to all explainers
  autoxai/explainer/conductance.py
  autoxai/explainer/deconv.py
  autoxai/explainer/deeplift.py
  autoxai/explainer/deeplift_shap.py
  autoxai/explainer/errors.py
  autoxai/explainer/gradcam.py
  autoxai/explainer/gradient_shap.py
  autoxai/explainer/input_x_gradient.py
  autoxai/explainer/integrated_gradients.py
  autoxai/explainer/lrp.py
  autoxai/explainer/noise_tunnel.py
Due: pylint, mypy

Remove tests with raising ValueError if no layer provided
  tests/test_explainers.py
Due: pylint

Improve unit test coverage (#46)
  autoxai/array_utils.py
  autoxai/context_manager.py
  autoxai/explainer/__init__.py
  autoxai/explainer/base_explainer.py
  autoxai/explainer/conductance.py
  autoxai/explainer/deconv.py
  autoxai/explainer/deeplift.py
  autoxai/explainer/deeplift_shap.py
  autoxai/explainer/errors.py
  autoxai/explainer/gradcam.py
  autoxai/explainer/gradient_shap.py
  autoxai/explainer/input_x_gradient.py
  autoxai/explainer/integrated_gradients.py
  autoxai/explainer/lrp.py
  autoxai/explainer/model_utils.py
  autoxai/explainer/noise_tunnel.py
  autoxai/explainer/occlusion.py
  autoxai/explainer/saliency.py
  example/streamlit_app/method_names.py
  example/streamlit_app/run_streamlit.py
  pyproject.toml
  tests/sample_model.py
  tests/test_array_utils.py
  tests/test_explainers.py
  tests/test_model_utils.py
Due: pylint, mypy, locks
