Repository softwaremill/FoXAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, locks

.pre-commit-config.yaml:

fail_fast: false
default_stages: [commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        args: [ --profile, black, --filter-files ]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        require_serial: true
        types_or: [ python, pyi ]
      - id: pylint
        name: pylint
        entry: poetry run pylint --min-similarity-lines 6
        language: system
        types: [ python ]
        require_serial: true
      - id: mypy
        name: mypy
        language: system
        files: autoxai
        types: [ python ]
        entry: poetry run mypy
      - id: locks
        name: Update locks
        files: pyproject.toml
        entry: poetry lock
        language: system
        pass_filenames: false

Update example/yolov5_exmaple/yolo_xai.ipynb
  example/yolov5_exmaple/yolo_xai.ipynb
Due: none

commented unused lines of code removed. pyproject.toml torch dependencies version problem fixed
  example/yolov5_exmaple/xai.png
  example/yolov5_exmaple/yolo_utils.py
  example/yolov5_exmaple/yolo_xai.py
  poetry.lock
  pyproject.toml
Due: pylint, locks

Current status on running various cuda versions on dedicated docker image
  .docker/ubuntu-python-gpu/cuda-116/Dockerfile
  .docker/ubuntu-python-gpu/cuda-116/nodejs.sh
  .github/workflows/test.yaml
  tests/test_gpu.py
Due: pylint

ipynb same as yolo_xai.py
  example/yolov5_exmaple/xai.png
  example/yolov5_exmaple/yolo_utils.py
  example/yolov5_exmaple/yolo_xai.ipynb
Due: pylint

Publish Docs to gh-pages
  .github/workflows/publish_docs.yaml
Due: none

Fix directories
  .github/workflows/publish_docs.yaml
Due: none

mypy error with torch.device fixed. Thank you Adam W.
  autoxai/callbacks/wandb_callback.py
  autoxai/cli/experiment_update.py
  autoxai/explainer/noise_tunnel.py
  poetry.lock
  pyproject.toml
Due: pylint, mypy, locks

Update README.md
  README.md
Due: none

removed mypy ignore from experiment_update.py
  autoxai/cli/experiment_update.py
  example/yolov5_exmaple/yolo_utils.py
Due: pylint, mypy

constant variables extracted outside of the NMS algorithm
  example/yolov5_exmaple/yolo_utils.py
  example/yolov5_exmaple/yolo_xai.ipynb
  example/yolov5_exmaple/yolo_xai.py
Due: pylint

Added changes to README, project versions and adapted Dockerfile to use pytorch image as base
  Dockerfile
  README.md
  pyproject.toml
Due: locks

Removing poetry lock from Dockerfile and updating poetry.lock
  Dockerfile
  poetry.lock
Due: none

Set Python lower bound requirements >=3.7.2
  poetry.lock
  pyproject.toml
Due: locks

Adjust installation test GHA
  .github/workflows/installation_test.yaml
Due: none

Update test_explainers.py
  tests/test_explainers.py
Due: pylint

Uber fix for test_explainers.py
  tests/test_explainers.py
Due: pylint

Updating FAQ and README with gramatical improvements
  FAQ.md
  README.md
Due: none

Adjusting poetry.lock and pyproject.toml after geting changes from main
  poetry.lock
  pyproject.toml
Due: locks

Replace assert with raising exception in visualization of single channel attributes, add unit tests
  autoxai/visualizer.py
  tests/test_visualizer.py
Due: pylint, mypy

Separate standardization and convertion of an array, add unit tests
  autoxai/array_utils.py
  autoxai/callbacks/wandb_callback.py
  autoxai/visualizer.py
  tests/test_array_utils.py
  tests/test_visualizer.py
Due: pylint, mypy

Update FAQ.md
  FAQ.md
Due: none

Remove model-specific arguments in load_from_checkpoint function
  autoxai/cli/experiment_update.py
Due: pylint, mypy

Fix dependency ranges and other fields in pyproject.toml (#57)
  autoxai/cli/experiment_update.py
  poetry.lock
  pyproject.toml
Due: pylint, mypy, locks

Add checking type of array to standardize
  autoxai/array_utils.py
Due: pylint, mypy

Change data type of tensors in unit tests, add casting in visualization pre-processing func
  autoxai/array_utils.py
  autoxai/visualizer.py
  tests/test_visualizer.py
Due: pylint, mypy

Extract visualization functions from Explainer to standalone function… (#55)
  autoxai/array_utils.py
  autoxai/callbacks/wandb_callback.py
  autoxai/explainer/base_explainer.py
  autoxai/visualizer.py
  example/notebooks/basic_usage.ipynb
  tests/test_array_utils.py
  tests/test_visualizer.py
Due: pylint, mypy

Multiple version support
  .github/workflows/publish_docs.yaml
Due: none

Multiple version support - fix tar and checkout
  .github/workflows/publish_docs.yaml
Due: none

Multiple version support - fix ref
  .github/workflows/publish_docs.yaml
Due: none

Multiple version support - debug
  .github/workflows/publish_docs.yaml
Due: none

Remove old docs
  .doctrees/environment.pickle
  .doctrees/index.doctree
  .doctrees/install.doctree
  .doctrees/modules.doctree
Due: none

Change branch back to main - end of debug
  .github/workflows/publish_docs.yaml
Due: none

Cleaning up, moving python version to env and removing amend
  .github/workflows/publish_docs.yaml
Due: none
