Repository softwaremill/FoXAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, locks

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: poetry run mypy

locks:
  name: Update locks
  entry: poetry lock
  language: system
  pass_filenames: false

Refactoring
  main.py
  src/data_transformer.py
  src/explainer.py
  src/explainer_manager.py
  src/image_utils.py
  src/model_utils.py
  src/path_manager.py
Due: pylint, mypy

Refactor functions, move main.py to example/
  example/main.py
  main.py
  poetry.lock
  src/data_transformer.py
  src/explainer_manager.py
  src/model_utils.py
Due: pylint, mypy

Add example with MNIST and pytorch_lightning simple callback
  example/mnist.py
  poetry.lock
  pyproject.toml
  src/callback.py
  src/explainer.py
  src/model_utils.py
Due: pylint, mypy, locks

Export model to ONNX, move classes used by example, add parsing kwargs in explainers
  example/main.py
  example/mnist.py
  example/offline.py
  poetry.lock
  pyproject.toml
  src/callback.py
  src/data_transformer.py
  src/explainer.py
  src/explainer_manager.py
  src/image_utils.py
  src/model_utils.py
Due: pylint, mypy, locks

Fix handling 3D and 4D image tensors
  src/explainer.py
Due: pylint, mypy

Add Tensorboard callback, refactor explainers
  example/mnist.py
  example/offline.py
  mypy.ini
  poetry.lock
  pyproject.toml
  src/callback.py
Due: pylint, mypy, locks

Add example with MNIST and Tensorboard callback
  example/mnist_tensorboard.py
Due: pylint

Fix moving data tensor to model's device, change type of idx_to_label in explainers
  src/callback.py
  src/explainer.py
Due: pylint, mypy

Rename callback class
  example/mnist.py
  src/callback.py
Due: pylint, mypy

Refine docstring in callbacks
  src/callback.py
Due: pylint, mypy

Extract common class in example/ scripts
  example/mnist.py
  example/mnist_model.py
  example/mnist_tensorboard.py
  poetry.lock
Due: pylint

Change Any type to ResNet in example script
  example/offline.py
Due: pylint

Add abstractmethod decorator
  src/cache_manager.py
Due: pylint, mypy

Add property, change np.detach call order, remove debug print
  src/callback.py
  src/explainer.py
Due: pylint, mypy

Fix exporting model to ONNX - input_sample is required
  src/callback.py
Due: pylint, mypy

Change model type to torch.nn.Module instead of Any, remove pylint disable comments
  src/cache_manager.py
  src/explainer.py
Due: pylint, mypy

Add explicit list of classes to explain, select data sample only once per training
  src/callback.py
Due: pylint, mypy

Add demo Streamlit app with interactive XAI web interface
  example/streamlit_app/README.md
  example/streamlit_app/run_streamlit.py
  example/streamlit_app/settings.py
  example/streamlit_app/streamlit_utils.py
Due: pylint

Add missing example dependencies
  poetry.lock
  pyproject.toml
Due: locks

Apply pre-commit rules, refactor explainers, add layer explainers
  .pre-commit-config.yaml
  example/mnist_tensorboard.py
  example/streamlit_app/model_utils.py
  example/streamlit_app/run_streamlit.py
  example/streamlit_app/settings.py
  example/streamlit_app/streamlit_utils.py
  example/streamlit_app/visualization_utils.py
  src/callback.py
  src/explainer.py
  src/explainer/__init__.py
  src/explainer/base_explainer.py
  src/explainer/gradcam.py
  src/explainer/gradient_shap.py
  src/explainer/integrated_gradients.py
  src/explainer/lrp.py
  src/explainer/model_utils.py
  src/explainer/noise_tunnel.py
  src/explainer/occulusion.py
Due: pylint, mypy

changed dependencies managment
  poetry.lock
  pyproject.toml
Due: locks

Add poetry source and packages entry to enable building wheel with poetry
  poetry.lock
  pyproject.toml
Due: locks

Update lock and fix trailing whitespaces in README
  example/streamlit_app/README.md
  poetry.lock
Due: none

Replace passing algorithm name string to MethodName enum class object.
  example/streamlit_app/method_names.py
  example/streamlit_app/run_streamlit.py
Due: pylint

Bump minor version
  pyproject.toml
Due: locks

Remove support for TensorBoard causing error with protobuf
  example/mnist_tensorboard.py
  poetry.lock
  pyproject.toml
  src/callback.py
Due: pylint, mypy, locks

Change loading/saving ONNX model to PyTorch state dict
  example/mnist.py
  example/offline_resnet.py
  example/streamlit_app/__init__.py
  example/streamlit_app/mnist_model.py
  example/streamlit_app/model_utils.py
  example/streamlit_app/run_streamlit.py
  example/streamlit_app/streamlit_utils.py
  src/explainer/base_explainer.py
  src/explainer/gradcam.py
  src/explainer/gradient_shap.py
  src/explainer/integrated_gradients.py
  src/explainer/lrp.py
  src/explainer/model_utils.py
  src/explainer/noise_tunnel.py
  src/explainer/occulusion.py
Due: pylint, mypy

Update docs
  README.md
  example/streamlit_app/README.md
Due: none

Bump patch version
  pyproject.toml
Due: locks

Add Github Actions - run pre-commit hooks
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/build-module/action.yaml
  .github/workflows/ci.yaml
Due: none

Fix installing package from wheel by changing torch and torchvision versions
  poetry.lock
  pyproject.toml
Due: locks

Rename package from src/ to autoxai/
  autoxai/__init__.py
  autoxai/cache_manager.py
  autoxai/callback.py
  autoxai/explainer/__init__.py
  autoxai/explainer/base_explainer.py
  autoxai/explainer/gradcam.py
  autoxai/explainer/gradient_shap.py
  autoxai/explainer/integrated_gradients.py
  autoxai/explainer/lrp.py
  autoxai/explainer/model_utils.py
  autoxai/explainer/noise_tunnel.py
  autoxai/explainer/occulusion.py
  autoxai/path_manager.py
  example/mnist.py
  example/mnist_tensorboard.py
  example/offline.py
  example/streamlit_app/method_names.py
  example/streamlit_app/run_streamlit.py
  example/streamlit_app/streamlit_utils.py
  example/streamlit_app/visualization_utils.py
  pyproject.toml
  src/callback.py
Due: pylint, mypy, locks

Fix dependencies causing broken protobuf package
  poetry.lock
  pyproject.toml
Due: locks

Add Github Actions - run pre-commit hooks (#5)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/build-module/action.yaml
  .github/workflows/ci.yaml
Due: none

Add return type in create_explainer func and fix object type from kwargs in explainers
  src/explainer/gradcam.py
  src/explainer/gradient_shap.py
  src/explainer/integrated_gradients.py
  src/explainer/lrp.py
  src/explainer/noise_tunnel.py
Due: pylint, mypy

Introduces support for PyTorch only. (#4)
  README.md
  example/mnist.py
  example/mnist_tensorboard.py
  example/offline_resnet.py
  example/streamlit_app/README.md
  example/streamlit_app/__init__.py
  example/streamlit_app/mnist_model.py
  example/streamlit_app/model_utils.py
  example/streamlit_app/run_streamlit.py
  example/streamlit_app/streamlit_utils.py
  poetry.lock
  pyproject.toml
  src/callback.py
  src/explainer/base_explainer.py
  src/explainer/gradcam.py
  src/explainer/gradient_shap.py
  src/explainer/integrated_gradients.py
  src/explainer/lrp.py
  src/explainer/model_utils.py
  src/explainer/noise_tunnel.py
  src/explainer/occulusion.py
Due: pylint, mypy, locks

Set rigid packages versions
  example/mnist.py
  poetry.lock
  pyproject.toml
Due: pylint, locks

Fix mypy files source
  .pre-commit-config.yaml
  example/streamlit_app/mnist_model.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  mypy: any of: src and \.py$
  locks: any of: pyproject.toml
