Repository softwaremill/FoXAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, locks

.pre-commit-config.yaml:

fail_fast: false
default_stages: [commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        args: [ --profile, black, --filter-files ]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        require_serial: true
        types_or: [ python, pyi ]
      - id: pylint
        name: pylint
        entry: poetry run pylint --min-similarity-lines 6
        language: system
        types: [ python ]
        require_serial: true
      - id: mypy
        name: mypy
        language: system
        files: autoxai
        types: [ python ]
        entry: poetry run mypy
      - id: locks
        name: Update locks
        files: pyproject.toml
        entry: poetry lock
        language: system
        pass_filenames: false

Bump minor version
  pyproject.toml
Due: locks

Fix displaying warnings in context manager
  autoxai/context_manager.py
Due: pylint, mypy

Add type aliases, fix typo, remove unnecessary unpacking batch in iteration
  autoxai/callback.py
  autoxai/callbacks/wandb_callback.py
Due: pylint, mypy

Rename type aliases
  autoxai/callbacks/wandb_callback.py
Due: pylint, mypy

Add wandb support (#16)
  .pre-commit-config.yaml
  README.md
  autoxai/callback.py
  autoxai/callbacks/__init__.py
  autoxai/callbacks/wandb_callback.py
  autoxai/cli/__init__.py
  autoxai/cli/config_model.py
  autoxai/cli/experiment_update.py
  autoxai/context_manager.py
  autoxai/explainer/__init__.py
  example/mnist_wandb.py
  mypy.ini
  poetry.lock
  pyproject.toml
Due: pylint, mypy, locks

Move custom callback scripts from autoxai/ to example/custom_callback/ directory
  example/custom_callback/cache_manager.py
  example/custom_callback/callback.py
  example/custom_callback/path_manager.py
  example/mnist.py
  example/offline_resnet.py
Due: pylint

Add fetching accelerator, batch_size and epochs from environment variables
  example/mnist.py
  example/mnist_wandb.py
Due: pylint

Add missing explainers to Explainers enum
  autoxai/context_manager.py
Due: pylint, mypy

Add missing explainers to Explainers enum (#34)
  autoxai/context_manager.py
Due: pylint, mypy

Add unit tests with comparing attributes of context manager and raw explainer
  tests/test_context_manager.py
Due: pylint

Add unit tests for converting array to 8 bit
  tests/test_array_utils.py
Due: pylint

Add pytest to pre-commit hook
  .pre-commit-config.yaml
Due: none

Add pytest to GitHub CI pipeline
  .github/actions/build-module/action.yaml
Due: none

Add checking mypy for only autoxai package
  .github/actions/build-module/action.yaml
Due: none

Add --ignore-missing-imports for mypy
  .github/actions/build-module/action.yaml
Due: none

Bump patch version
  poetry.lock
  pyproject.toml
Due: locks

Add pytest to GH CI and unit tests (#35)
  .github/actions/build-module/action.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  tests/test_array_utils.py
  tests/test_context_manager.py
Due: pylint, locks

Add notebooks with different computer vision neural network models
  example/notebooks/mobilenetv3.ipynb
  example/notebooks/resnet.ipynb
  example/notebooks/vgg.ipynb
  example/notebooks/vit.ipynb
Due: none

Prevent from displaying all attributes when only positive are present
  autoxai/explainer/base_explainer.py
  tests/test_visualizer.py
Due: pylint, mypy

added basic pass test for all available explainers
  autoxai/context_manager.py
  autoxai/explainer/conductance.py
  autoxai/explainer/deconv.py
  autoxai/explainer/deeplift.py
  autoxai/explainer/deeplift_shap.py
  autoxai/explainer/gradcam.py
  autoxai/explainer/gradient_shap.py
  autoxai/explainer/integrated_gradients.py
  autoxai/explainer/lrp.py
  autoxai/explainer/model_utils.py
  autoxai/explainer/noise_tunnel.py
  tests/pickachu_image.py
  tests/sample_model.py
  tests/test_context_manager.py
  tests/test_explainers.py
Due: pylint, mypy

Add example with YOLOv5 network
  example/notebooks/yolov5.ipynb
Due: none

typeAlias removed
  tests/test_explainers.py
Due: pylint

Restore model state after exiting context manager: eval or training.
  autoxai/context_manager.py
  tests/test_context_manager.py
Due: pylint, mypy

Move unnecessary files to example directory (#33)
  example/custom_callback/cache_manager.py
  example/custom_callback/callback.py
  example/custom_callback/path_manager.py
  example/mnist.py
  example/mnist_wandb.py
  example/offline_resnet.py
  poetry.lock
Due: pylint

removed unused kwargs
  autoxai/context_manager.py
  autoxai/explainer/conductance.py
  autoxai/explainer/deconv.py
  autoxai/explainer/deeplift.py
Due: pylint, mypy

Add one notebook with all supported models to explain
  example/notebooks/explain.ipynb
  example/notebooks/mobilenetv3.ipynb
  example/notebooks/resnet.ipynb
  example/notebooks/vgg.ipynb
  example/notebooks/vit.ipynb
  example/notebooks/yolov5.ipynb
Due: none

unified error massage added
  autoxai/explainer/conductance.py
  autoxai/explainer/errors.py
  autoxai/explainer/gradcam.py
Due: pylint, mypy

raises docstrings fixed
  autoxai/explainer/conductance.py
  autoxai/explainer/deeplift.py
  autoxai/explainer/deeplift_shap.py
  autoxai/explainer/gradcam.py
  autoxai/explainer/gradient_shap.py
  autoxai/explainer/input_x_gradient.py
  autoxai/explainer/integrated_gradients.py
  autoxai/explainer/lrp.py
  autoxai/explainer/noise_tunnel.py
Due: pylint, mypy

docstring with raises exapnd
  autoxai/explainer/conductance.py
Due: pylint, mypy

docstrings cleand
  autoxai/explainer/deconv.py
  autoxai/explainer/deeplift.py
  autoxai/explainer/deeplift_shap.py
  autoxai/explainer/gradcam.py
  autoxai/explainer/gradient_shap.py
  autoxai/explainer/input_x_gradient.py
  autoxai/explainer/integrated_gradients.py
  autoxai/explainer/lrp.py
  autoxai/explainer/noise_tunnel.py
Due: pylint, mypy

missing raises added to docstring
  autoxai/explainer/gradcam.py
Due: pylint, mypy

Update autoxai/explainer/model_utils.py
  autoxai/explainer/model_utils.py
Due: pylint, mypy

Add part with using layer based explainers
  example/notebooks/explain.ipynb
Due: none

warning related to min-max normalization removed
  autoxai/array_utils.py
Due: pylint, mypy

Update autoxai/explainer/deconv.py
  autoxai/explainer/deconv.py
Due: pylint, mypy
