Repository softwaremill/FoXAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, pytest, locks

pylint:
  name: pylint
  entry: poetry run pylint --min-similarity-lines 8
  language: system
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: poetry run mypy
  args:
  - --ignore-missing-imports

pytest:
  name: pytest
  entry: poetry run pytest
  language: system
  pass_filenames: false

locks:
  name: Update locks
  entry: poetry lock
  language: system
  pass_filenames: false

gradcam remove from docstrings
  foxai/explainer/fullgradeints.py
Due: pylint, mypy

Update foxai/explainer/fullgradeints.py
  foxai/explainer/fullgradeints.py
Due: pylint, mypy

evaml mode toggling decorator added
  foxai/explainer/fullgradeints.py
  tests/test_fullgradients.py
Due: pylint, mypy, pytest

module typing in full gradients class
  foxai/explainer/fullgradeints.py
Due: pylint, mypy

staticmethod changed to decorator format
  foxai/explainer/fullgradeints.py
Due: pylint, mypy

poetry dependencies updated and patch version bumped
  foxai/explainer/fullgradeints.py
  poetry.lock
  pyproject.toml
Due: pylint, mypy, locks

Update README
  README.md
Due: none

Refactor object detection custom modules
  example/gradcam_object_detection/custom_models/ssd/ssd_object_detector.py
  example/gradcam_object_detection/custom_models/yolov5/model.py
  example/gradcam_object_detection/custom_models/yolov5/yolo_object_detector.py
Due: pylint

updated version of poerty in github actions
  .github/workflows/ci.yaml
  .github/workflows/installation_test.yaml
  .github/workflows/publish_docs.yaml
  .github/workflows/sphinx_docs_check.yaml
  Dockerfile
  README.md
  docs/source/install.rst
Due: none

Refactor GradCAM for object detection
  foxai/explainer/computer_vision/algorithm/gradcam.py
  poetry.lock
Due: pylint, mypy

ignoring mypy error for static method initialization
  foxai/explainer/fullgradeints.py
Due: pylint, mypy

model_eval decorator moved outside class structure, due to mypy problem with decorator static method
  foxai/explainer/fullgradeints.py
Due: pylint, mypy

Fixing typing in metrics and visualizer and moving to better method to infer model.device
  foxai/metrics/metrics.py
  foxai/visualizer.py
Due: pylint, mypy

Bump version
  poetry.lock
  pyproject.toml
Due: locks

Bump requests package version according to dependabot
  poetry.lock
  pyproject.toml
Due: locks

Adding pneumonia example to repository for blog post purposes
  example/notebooks/pneumonia.ipynb
Due: none

Improving pneuomonia notebook
  example/notebooks/pneumonia.ipynb
Due: none

Adding verbosity to the notebook
  example/notebooks/pneumonia.ipynb
Due: none

Changes to metrics after introducing new version of FoXAI
  Dockerfile
  example/notebooks/deletion_insertion_metric_example.ipynb
  foxai/metrics/metrics.py
Due: pylint, mypy

Auto-update from Github Actions Workflow
  main/_modules/foxai/metrics/metrics.html
  main/_modules/foxai/visualizer.html
  main/_modules/index.html
  main/_sources/foxai.metrics.rst.txt
  main/_sources/foxai.rst.txt
  main/foxai.callbacks.html
  main/foxai.cli.html
  main/foxai.explainer.computer_vision.algorithm.html
  main/foxai.explainer.computer_vision.html
  main/foxai.explainer.computer_vision.object_detection.html
  main/foxai.explainer.html
  main/foxai.html
  main/foxai.metrics.html
  main/genindex.html
  main/modules.html
  main/objects.inv
  main/py-modindex.html
  main/searchindex.js
Due: none

Fix pytest pre-commit hook, apply hooks to all files
  .pre-commit-config.yaml
  FAQ.md
  example/mnist_wandb.py
  example/yolov5_exmaple/yolo_utils.py
  example/yolov5_exmaple/yolo_xai.py
  foxai/callbacks/wandb_callback.py
  foxai/cli/experiment_update.py
  poetry.lock
  pyproject.toml
  tests/test_context_manager.py
  tests/test_explainers.py
Due: pylint, mypy, pytest, locks

Fix error with different tensor devices
  foxai/explainer/fullgradient.py
Due: pylint, mypy

Add cleaning full_backward_hook flag in FullGrad, add FullGrad to notebook example
  example/notebooks/basic_usage.ipynb
  foxai/explainer/fullgradient.py
Due: pylint, mypy

fullgradients explainer added (#77)
  .github/workflows/ci.yaml
  .github/workflows/installation_test.yaml
  .github/workflows/publish_docs.yaml
  .github/workflows/sphinx_docs_check.yaml
  .pre-commit-config.yaml
  Dockerfile
  README.md
  docs/source/install.rst
  example/notebooks/basic_usage.ipynb
  example/yolov5_exmaple/yolo_utils.py
  example/yolov5_exmaple/yolo_xai.py
  foxai/context_manager.py
  foxai/explainer/__init__.py
  foxai/explainer/computer_vision/algorithm/deconv.py
  foxai/explainer/fullgradient.py
  poetry.lock
  tests/test_fullgradient.py
Due: pylint, mypy, pytest

Upgrade pandas, pytroch, pytorch-lightning, isort
  .pre-commit-config.yaml
  Dockerfile
  foxai/metrics/metrics.py
  foxai/visualizer.py
  poetry.lock
  pyproject.toml
Due: pylint, mypy, locks

Fix torch.device mismatch
  example/notebooks/deletion_insertion_metric_example.ipynb
  foxai/metrics/metrics.py
Due: pylint, mypy

Fix batch processing for LayerGradCAM explainer, add unit tests for this case
  foxai/explainer/computer_vision/algorithm/gradcam.py
  tests/explainers/computer_vision/test_explainers.py
Due: pylint, mypy, pytest

Remove debug print
  foxai/explainer/computer_vision/algorithm/gradcam.py
Due: pylint, mypy

Add mypy type, fix formatting
  foxai/explainer/computer_vision/algorithm/gradcam.py
  foxai/metrics/metrics.py
  foxai/visualizer.py
  poetry.lock
Due: pylint, mypy

Add batch dimension support for transpose_array function
  foxai/array_utils.py
  tests/test_array_utils.py
Due: pylint, mypy, pytest

Rename explainer variable name after changing type, add batch_size range to test suites
  tests/explainers/computer_vision/test_explainers.py
Due: pylint, pytest

Rename transpose_array function, add more clear description of this method, fix typos
  foxai/array_utils.py
  foxai/visualizer.py
  tests/test_array_utils.py
Due: pylint, mypy, pytest

Add implementation of focus metric
  .pre-commit-config.yaml
  example/notebooks/basic_usage.ipynb
  example/notebooks/focus_metric_example.ipynb
  foxai/metrics/__init__.py
  foxai/metrics/focus.py
  foxai/metrics/insertion_deletion_metrics.py
  foxai/visualizer.py
  poetry.lock
  tests/metrics/__init__.py
  tests/metrics/test_focus.py
Due: pylint, mypy, pytest

Simplify unit test for explainers at different batch sizes
  tests/explainers/computer_vision/test_explainers.py
Due: pylint, pytest

Review fixes part 1
  example/notebooks/focus_metric_example.ipynb
  foxai/visualizer.py
Due: pylint, mypy

Path conditions:
  pylint: any of: \.py$
  mypy: any of: foxai and \.py$
  pytest: any of: tests/
  locks: any of: pyproject.toml
