Repository softwaremill/FoXAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, locks

.pre-commit-config.yaml:

fail_fast: false
default_stages: [commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        args: [ --profile, black, --filter-files ]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        require_serial: true
        types_or: [ python, pyi ]
      - id: pylint
        name: pylint
        entry: poetry run pylint --min-similarity-lines 6
        language: system
        types: [ python ]
        require_serial: true
      - id: mypy
        name: mypy
        language: system
        files: autoxai
        types: [ python ]
        entry: poetry run mypy
      - id: locks
        name: Update locks
        files: pyproject.toml
        entry: poetry lock
        language: system
        pass_filenames: false

Add optional arguments to explainers (#54)
  autoxai/explainer/base_explainer.py
  autoxai/explainer/conductance.py
  autoxai/explainer/deconv.py
  autoxai/explainer/deeplift.py
  autoxai/explainer/deeplift_shap.py
  autoxai/explainer/gradcam.py
  autoxai/explainer/gradient_shap.py
  autoxai/explainer/input_x_gradient.py
  autoxai/explainer/integrated_gradients.py
  autoxai/explainer/lrp.py
  autoxai/explainer/noise_tunnel.py
  autoxai/explainer/occlusion.py
  autoxai/explainer/saliency.py
  docs/source/modules.rst
  tests/test_context_manager.py
  tests/test_explainers.py
Due: pylint, mypy

Add docstring from captum
  autoxai/explainer/guided_backprop.py
Due: pylint, mypy

Update README and FAQ with more issue-proof solutions
  FAQ.md
  README.md
Due: none

Adding latest changes to README.md regarding instalation and possible usage on pytorch official Docker image
  README.md
Due: none

Fix docstring
  autoxai/explainer/guided_backprop.py
Due: pylint, mypy

Update example/yolov5_exmaple/yolo_xai.ipynb
  example/yolov5_exmaple/yolo_xai.ipynb
Due: none

more docstrings
  example/yolov5_exmaple/yolo_utils.py
Due: pylint

Fix callback visualization
  autoxai/callbacks/wandb_callback.py
Due: pylint, mypy

better doscstrings
  example/yolov5_exmaple/yolo_utils.py
  example/yolov5_exmaple/yolo_xai.py
Due: pylint

typing and unnecessery arguments added/removed
  example/yolov5_exmaple/xai.png
  example/yolov5_exmaple/yolo_utils.py
  example/yolov5_exmaple/yolo_xai.py
Due: pylint

Switch GH Action back to work without additional container
  .github/workflows/installation_test.yaml
Due: none

Bump patch version
  poetry.lock
  pyproject.toml
Due: locks

Add Guided Backpropagation explainer algorithm (#51)
  autoxai/context_manager.py
  autoxai/explainer/__init__.py
  autoxai/explainer/guided_backprop.py
  poetry.lock
  pyproject.toml
Due: pylint, mypy, locks

Update FAQ.md
  FAQ.md
Due: none

Update README.md
  README.md
Due: none

nbstripout added
  .gitattributes
  example/yolov5_exmaple/yolo_xai.ipynb
  example/yolov5_exmaple/yolo_xai.py
  poetry.lock
  pyproject.toml
Due: pylint, locks

ipynb with gradcam example for yolo_v5
  example/yolov5_exmaple/yolo_xai.ipynb
  poetry.lock
  pyproject.toml
Due: locks

range for class_confidence extracted to the named variable
  example/yolov5_exmaple/xai.png
  example/yolov5_exmaple/yolo_xai.py
Due: pylint

credits given for authors of reused function in yolo porcessing
  example/yolov5_exmaple/yolo_utils.py
  example/yolov5_exmaple/yolo_xai.py
Due: pylint

Extract common pre-processing code to a private function
  autoxai/visualizer.py
Due: pylint, mypy

Add missing docstring
  autoxai/visualizer.py
Due: pylint, mypy

Remove duplicated pre-processing code in single channel visualization
  autoxai/visualizer.py
Due: pylint, mypy

Update example/yolov5_exmaple/yolo_utils.py
  example/yolov5_exmaple/yolo_utils.py
Due: pylint

Update example/yolov5_exmaple/yolo_xai.py
  example/yolov5_exmaple/yolo_xai.py
Due: pylint

Fix dependency ranges and authors, add keywords, classifier, repository, description
  poetry.lock
  pyproject.toml
Due: locks

Fix typing errors
  autoxai/callbacks/wandb_callback.py
  autoxai/cli/experiment_update.py
Due: pylint, mypy
