Repository softwaremill/FoXAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, pytest, locks

.pre-commit-config.yaml:

fail_fast: false
default_stages: [commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: [ --profile, black, --filter-files ]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        require_serial: true
        types_or: [ python, pyi ]
      - id: pylint
        name: pylint
        entry: poetry run pylint --min-similarity-lines 8
        language: system
        types: [ python ]
        require_serial: true
      - id: mypy
        name: mypy
        language: system
        files: foxai
        types: [ python ]
        entry: poetry run mypy
        args: ["--ignore-missing-imports"]
      - id: pytest
        name: pytest
        files: tests/
        entry: poetry run pytest
        language: system
        pass_filenames: false
      - id: locks
        name: Update locks
        files: pyproject.toml
        entry: poetry lock
        language: system
        pass_filenames: false

Fix poetry.lock
  poetry.lock
Due: none

Fix batch processing for LayerGradCAM explainer (#93)
  foxai/array_utils.py
  foxai/explainer/computer_vision/algorithm/gradcam.py
  foxai/metrics/metrics.py
  foxai/visualizer.py
  poetry.lock
  tests/explainers/computer_vision/test_explainers.py
  tests/test_array_utils.py
Due: pylint, mypy, pytest

Implement shuffle as optional for mosaic creation
  foxai/metrics/focus.py
  tests/metrics/test_focus.py
Due: pylint, mypy, pytest

Add example with quantitive evaluation of XAI algorithms
  example/notebooks/autoxai.ipynb
Due: none

Implement efficient version of create_mosaics_from_images method.
  foxai/metrics/focus.py
  tests/metrics/test_focus.py
Due: pylint, mypy, pytest

Update lock file
  poetry.lock
Due: none

Add workaround to use multiple explainers of same type in context manager
  foxai/context_manager.py
Due: pylint, mypy

Provide aliases for common types in codebase. Refactor.
  foxai/array_utils.py
  foxai/cli/experiment_update.py
  foxai/context_manager.py
  foxai/explainer/base_explainer.py
  foxai/explainer/computer_vision/algorithm/conductance.py
  foxai/explainer/computer_vision/algorithm/deconv.py
  foxai/explainer/computer_vision/algorithm/deeplift.py
  foxai/explainer/computer_vision/algorithm/deeplift_shap.py
  foxai/explainer/computer_vision/algorithm/gradcam.py
  foxai/explainer/computer_vision/algorithm/gradient_shap.py
  foxai/explainer/computer_vision/algorithm/guided_backprop.py
  foxai/explainer/computer_vision/algorithm/input_x_gradient.py
  foxai/explainer/computer_vision/algorithm/integrated_gradients.py
  foxai/explainer/computer_vision/algorithm/lrp.py
  foxai/explainer/computer_vision/algorithm/noise_tunnel.py
  foxai/explainer/computer_vision/algorithm/occlusion.py
  foxai/explainer/computer_vision/algorithm/saliency.py
  foxai/explainer/computer_vision/model_utils.py
  foxai/explainer/computer_vision/types.py
  foxai/explainer/fullgradient.py
  foxai/metrics/metrics.py
  foxai/visualizer.py
Due: pylint, mypy

Fix circular imports
  foxai/array_utils.py
  foxai/cli/experiment_update.py
  foxai/context_manager.py
  foxai/explainer/base_explainer.py
  foxai/explainer/computer_vision/algorithm/conductance.py
  foxai/explainer/computer_vision/algorithm/deconv.py
  foxai/explainer/computer_vision/algorithm/deeplift.py
  foxai/explainer/computer_vision/algorithm/deeplift_shap.py
  foxai/explainer/computer_vision/algorithm/gradcam.py
  foxai/explainer/computer_vision/algorithm/gradient_shap.py
  foxai/explainer/computer_vision/algorithm/guided_backprop.py
  foxai/explainer/computer_vision/algorithm/input_x_gradient.py
  foxai/explainer/computer_vision/algorithm/integrated_gradients.py
  foxai/explainer/computer_vision/algorithm/lrp.py
  foxai/explainer/computer_vision/algorithm/noise_tunnel.py
  foxai/explainer/computer_vision/algorithm/occlusion.py
  foxai/explainer/computer_vision/algorithm/saliency.py
  foxai/explainer/computer_vision/model_utils.py
  foxai/explainer/fullgradient.py
  foxai/metrics/metrics.py
  foxai/types.py
Due: pylint, mypy

Add implementation of focus metric (#94)
  example/notebooks/basic_usage.ipynb
  example/notebooks/focus_metric_example.ipynb
  foxai/metrics/__init__.py
  foxai/metrics/focus.py
  foxai/metrics/insertion_deletion_metrics.py
  foxai/visualizer.py
  poetry.lock
  tests/metrics/__init__.py
  tests/metrics/test_focus.py
Due: pylint, mypy, pytest

[Issue 89] Provide aliases for most commonly used types (#96)
  foxai/array_utils.py
  foxai/cli/experiment_update.py
  foxai/context_manager.py
  foxai/explainer/base_explainer.py
  foxai/explainer/computer_vision/algorithm/conductance.py
  foxai/explainer/computer_vision/algorithm/deconv.py
  foxai/explainer/computer_vision/algorithm/deeplift.py
  foxai/explainer/computer_vision/algorithm/deeplift_shap.py
  foxai/explainer/computer_vision/algorithm/gradcam.py
  foxai/explainer/computer_vision/algorithm/gradient_shap.py
  foxai/explainer/computer_vision/algorithm/guided_backprop.py
  foxai/explainer/computer_vision/algorithm/input_x_gradient.py
  foxai/explainer/computer_vision/algorithm/integrated_gradients.py
  foxai/explainer/computer_vision/algorithm/lrp.py
  foxai/explainer/computer_vision/algorithm/noise_tunnel.py
  foxai/explainer/computer_vision/algorithm/occlusion.py
  foxai/explainer/computer_vision/algorithm/saliency.py
  foxai/explainer/computer_vision/model_utils.py
  foxai/explainer/fullgradient.py
  foxai/metrics/insertion_deletion_metrics.py
  foxai/types.py
  foxai/visualizer.py
Due: pylint, mypy

Add calculation of mean of aggregated baselines' attributes
  foxai/explainer/computer_vision/algorithm/conductance.py
  foxai/explainer/computer_vision/algorithm/deeplift.py
  foxai/explainer/computer_vision/algorithm/deeplift_shap.py
  foxai/explainer/computer_vision/algorithm/gradient_shap.py
  foxai/explainer/computer_vision/algorithm/integrated_gradients.py
  foxai/explainer/computer_vision/algorithm/occlusion.py
  tests/explainers/computer_vision/test_explainers.py
  tests/test_context_manager.py
Due: pylint, mypy, pytest

Extract preprocessing baselines parameter to separate function
  foxai/explainer/computer_vision/algorithm/conductance.py
  foxai/explainer/computer_vision/algorithm/deeplift.py
  foxai/explainer/computer_vision/algorithm/deeplift_shap.py
  foxai/explainer/computer_vision/algorithm/gradient_shap.py
  foxai/explainer/computer_vision/algorithm/integrated_gradients.py
  foxai/explainer/computer_vision/algorithm/occlusion.py
  foxai/explainer/computer_vision/model_utils.py
Due: pylint, mypy

Refine docstrings
  foxai/explainer/computer_vision/algorithm/conductance.py
  foxai/explainer/computer_vision/algorithm/deeplift.py
  foxai/explainer/computer_vision/algorithm/deeplift_shap.py
  foxai/explainer/computer_vision/algorithm/gradient_shap.py
  foxai/explainer/computer_vision/algorithm/integrated_gradients.py
  foxai/explainer/computer_vision/algorithm/occlusion.py
  foxai/explainer/computer_vision/model_utils.py
Due: pylint, mypy

Integrate XRAI repository with FoXAI
  example/notebooks/basic_usage.ipynb
  foxai/context_manager.py
  foxai/explainer/__init__.py
  foxai/explainer/computer_vision/algorithm/integrated_gradients.py
  foxai/explainer/computer_vision/algorithm/xrai.py
Due: pylint, mypy

Fix preprocess_baselines function, fix typing
  foxai/context_manager.py
  foxai/explainer/computer_vision/algorithm/conductance.py
  foxai/explainer/computer_vision/algorithm/deconv.py
  foxai/explainer/computer_vision/algorithm/deeplift.py
  foxai/explainer/computer_vision/algorithm/deeplift_shap.py
  foxai/explainer/computer_vision/algorithm/gradcam.py
  foxai/explainer/computer_vision/algorithm/gradient_shap.py
  foxai/explainer/computer_vision/algorithm/guided_backprop.py
  foxai/explainer/computer_vision/algorithm/input_x_gradient.py
  foxai/explainer/computer_vision/algorithm/integrated_gradients.py
  foxai/explainer/computer_vision/algorithm/lrp.py
  foxai/explainer/computer_vision/algorithm/noise_tunnel.py
  foxai/explainer/computer_vision/algorithm/occlusion.py
  foxai/explainer/computer_vision/algorithm/saliency.py
  foxai/explainer/computer_vision/model_utils.py
  foxai/explainer/fullgradient.py
  foxai/visualizer.py
  poetry.lock
Due: pylint, mypy

Add batch processing to XRAI, add typing
  foxai/explainer/computer_vision/algorithm/xrai.py
  foxai/explainer/fullgradient.py
  poetry.lock
  tests/explainers/computer_vision/test_explainers.py
Due: pylint, mypy, pytest

Remove logger, rename variables, refactor, add typing
  foxai/explainer/computer_vision/algorithm/xrai.py
Due: pylint, mypy

Refactor variable names, add typing
  foxai/explainer/computer_vision/algorithm/xrai.py
Due: pylint, mypy

Add parametrization of XRAI algorithm through kwargs
  foxai/explainer/computer_vision/algorithm/xrai.py
Due: pylint, mypy

Add docstrings to util functions
  foxai/explainer/computer_vision/algorithm/xrai.py
Due: pylint, mypy

Refine docstrings
  foxai/explainer/computer_vision/algorithm/xrai.py
Due: pylint, mypy

Extract functions, add @staticmethod decorators
  foxai/explainer/computer_vision/algorithm/xrai.py
Due: pylint, mypy

Extract and fix aggregation single result into batch array function
  foxai/explainer/computer_vision/algorithm/xrai.py
  tests/explainers/computer_vision/algorithm/__init__.py
  tests/explainers/computer_vision/algorithm/test_xrai.py
Due: pylint, mypy, pytest

Add array util functions to transpose color first/last in numpy/torch data, add unit tests
  foxai/array_utils.py
  foxai/explainer/computer_vision/algorithm/xrai.py
  foxai/visualizer.py
  tests/test_array_utils.py
Due: pylint, mypy, pytest

Refactor XRAI helper functions, add unit tests
  foxai/explainer/computer_vision/algorithm/xrai.py
  tests/explainers/computer_vision/algorithm/test_xrai.py
Due: pylint, mypy, pytest

Refactor types and docstrings
  foxai/explainer/computer_vision/algorithm/xrai.py
Due: pylint, mypy

Refine typing
  foxai/explainer/computer_vision/model_utils.py
Due: pylint, mypy

Fix baselines computation (#97)
  foxai/context_manager.py
  foxai/explainer/computer_vision/algorithm/conductance.py
  foxai/explainer/computer_vision/algorithm/deconv.py
  foxai/explainer/computer_vision/algorithm/deeplift.py
  foxai/explainer/computer_vision/algorithm/deeplift_shap.py
  foxai/explainer/computer_vision/algorithm/gradcam.py
  foxai/explainer/computer_vision/algorithm/gradient_shap.py
  foxai/explainer/computer_vision/algorithm/guided_backprop.py
  foxai/explainer/computer_vision/algorithm/input_x_gradient.py
  foxai/explainer/computer_vision/algorithm/integrated_gradients.py
  foxai/explainer/computer_vision/algorithm/lrp.py
  foxai/explainer/computer_vision/algorithm/noise_tunnel.py
  foxai/explainer/computer_vision/algorithm/occlusion.py
  foxai/explainer/computer_vision/algorithm/saliency.py
  foxai/explainer/computer_vision/model_utils.py
  foxai/explainer/fullgradient.py
  foxai/visualizer.py
  poetry.lock
  tests/explainers/computer_vision/test_explainers.py
  tests/test_context_manager.py
Due: pylint, mypy, pytest

Change Explainer class calculate_features function definition, refine docstrings and remove unused arguments
  foxai/explainer/base_explainer.py
  foxai/explainer/computer_vision/algorithm/conductance.py
  foxai/explainer/computer_vision/algorithm/deconv.py
  foxai/explainer/computer_vision/algorithm/deeplift.py
  foxai/explainer/computer_vision/algorithm/deeplift_shap.py
  foxai/explainer/computer_vision/algorithm/gradcam.py
  foxai/explainer/computer_vision/algorithm/gradient_shap.py
  foxai/explainer/computer_vision/algorithm/guided_backprop.py
  foxai/explainer/computer_vision/algorithm/input_x_gradient.py
  foxai/explainer/computer_vision/algorithm/integrated_gradients.py
  foxai/explainer/computer_vision/algorithm/lrp.py
  foxai/explainer/computer_vision/algorithm/noise_tunnel.py
  foxai/explainer/computer_vision/algorithm/occlusion.py
  foxai/explainer/computer_vision/algorithm/saliency.py
  foxai/explainer/fullgradient.py
  foxai/types.py
Due: pylint, mypy

Add BboxType
  foxai/explainer/computer_vision/object_detection/types.py
  foxai/types.py
  foxai/visualizer.py
Due: pylint, mypy

Add type
  foxai/metrics/insertion_deletion_metrics.py
Due: pylint, mypy

To README add a list of explainers.
  README.md
Due: none

Fix docstring bbox format description, replace raw type with BboxType
  foxai/explainer/computer_vision/object_detection/types.py
  foxai/visualizer.py
Due: pylint, mypy

Integrate XRAI repository with FoXAI (#99)
  example/notebooks/basic_usage.ipynb
  foxai/array_utils.py
  foxai/context_manager.py
  foxai/explainer/__init__.py
  foxai/explainer/computer_vision/algorithm/xrai.py
  foxai/explainer/fullgradient.py
  foxai/visualizer.py
  tests/explainers/computer_vision/algorithm/__init__.py
  tests/explainers/computer_vision/algorithm/test_xrai.py
  tests/test_array_utils.py
Due: pylint, mypy, pytest

chore: GH workflow matrix configuration for cuda and python versions
  .github/workflows/installation_test.yaml
Due: none

feat: installation test GH workflow in matrix configuration for multiple cuda and python versions
  .github/workflows/installation_test.yaml
Due: none

Fix typing issues (#101)
  foxai/explainer/base_explainer.py
  foxai/explainer/computer_vision/algorithm/conductance.py
  foxai/explainer/computer_vision/algorithm/deconv.py
  foxai/explainer/computer_vision/algorithm/deeplift.py
  foxai/explainer/computer_vision/algorithm/deeplift_shap.py
  foxai/explainer/computer_vision/algorithm/gradcam.py
  foxai/explainer/computer_vision/algorithm/gradient_shap.py
  foxai/explainer/computer_vision/algorithm/guided_backprop.py
  foxai/explainer/computer_vision/algorithm/input_x_gradient.py
  foxai/explainer/computer_vision/algorithm/integrated_gradients.py
  foxai/explainer/computer_vision/algorithm/lrp.py
  foxai/explainer/computer_vision/algorithm/noise_tunnel.py
  foxai/explainer/computer_vision/algorithm/occlusion.py
  foxai/explainer/computer_vision/algorithm/saliency.py
  foxai/explainer/computer_vision/object_detection/types.py
  foxai/explainer/fullgradient.py
  foxai/metrics/insertion_deletion_metrics.py
  foxai/types.py
  foxai/visualizer.py
Due: pylint, mypy
