Repository softwaremill/FoXAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, locks

pylint:
  name: pylint
  entry: poetry run pylint --min-similarity-lines 6
  language: system
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: poetry run mypy

locks:
  name: Update locks
  entry: poetry lock
  language: system
  pass_filenames: false

debug
  .github/workflows/publish_docs.yaml
Due: none

Change autoxai to foxai in 2 places (definetely not all)
  docs/source/install.rst
Due: none

Auto-update from Github Actions Workflow
  docs-gh-pages/_sources/install.rst.txt
  docs-gh-pages/install.html
  docs-gh-pages/searchindex.js
Due: none

edn debug
  .github/workflows/publish_docs.yaml
Due: none

Changes to resizing to work properly for rectangular pictures
  foxai/array_utils.py
  tests/test_array_utils.py
Due: pylint

Small changes to yolo_xai and cleaning up the notebook
  example/yolov5_exmaple/yolo_utils.py
  example/yolov5_exmaple/yolo_xai.ipynb
  pyproject.toml
  tests/test_array_utils.py
Due: pylint, locks

feat: configuration for running installation test in CUDA containers
  .github/workflows/installation_test.yaml
Due: none

Remove old docs
  .github/scripts/release.py
  .github/workflows/publish_pypi.yaml
  .github/workflows/release.yaml
  pyproject.toml
Due: pylint, locks

chmod +x on release.py script
  .github/scripts/release.py
Due: pylint

Fix documentation url
  pyproject.toml
Due: locks

Bump version
  pyproject.toml
Due: locks

Fix auth for release action
  .github/workflows/release.yaml
Due: none

feat: configuration for running installation test in CUDA containers (#61)
  .github/workflows/installation_test.yaml
Due: none

Add example with GradCAM for YOLOv5 in object detection
  example/gradcam_yolo/main.py
  example/gradcam_yolo/yolo_models/__init__.py
  example/gradcam_yolo/yolo_models/gradcam.py
  example/gradcam_yolo/yolo_models/model.py
  example/gradcam_yolo/yolo_models/object_detector.py
  example/gradcam_yolo/yolo_models/utils.py
  example/gradcam_yolo/yolo_models/yolo.py
  poetry.lock
  pyproject.toml
Due: pylint, locks

Remove constraints for min and max bbox size
  example/gradcam_yolo/yolo_models/object_detector.py
Due: pylint

Extract base ObjectDetector class
  example/gradcam_yolo/main.py
  example/gradcam_yolo/yolo_models/gradcam.py
  example/gradcam_yolo/yolo_models/object_detector.py
Due: pylint

Remove previous example with object detection task
  example/yolov5_exmaple/xai.png
  example/yolov5_exmaple/yolo_utils.py
  example/yolov5_exmaple/yolo_xai.ipynb
  example/yolov5_exmaple/yolo_xai.py
Due: pylint

Add original code source URL in docstring
  example/gradcam_yolo/yolo_models/object_detector.py
Due: pylint

Move fetching layer from YOLO model function, add target_layer parameter to GradCAM
  example/gradcam_yolo/main.py
  example/gradcam_yolo/yolo_models/gradcam.py
  example/gradcam_yolo/yolo_models/object_detector.py
Due: pylint

Adjust GH Actions with tests
  .github/workflows/installation_test.yaml
Due: none

Add dataclasses for complex object detection output data types
  example/gradcam_yolo/main.py
  example/gradcam_yolo/yolo_models/gradcam.py
  example/gradcam_yolo/yolo_models/model.py
  example/gradcam_yolo/yolo_models/object_detector.py
Due: pylint

Refactor code, add docstrings, fix names, add workaround with np.abs for bbox coordinates
  example/gradcam_yolo/main.py
  example/gradcam_yolo/yolo_models/gradcam.py
  example/gradcam_yolo/yolo_models/model.py
  example/gradcam_yolo/yolo_models/object_detector.py
  example/gradcam_yolo/yolo_models/utils.py
Due: pylint

Add support for torchvision SSD model for object detection, refactoring
  example/gradcam_yolo/main.py
  example/gradcam_yolo/yolo_models/model.py
  example/gradcam_yolo/yolo_models/object_detector.py
  example/gradcam_yolo/yolo_models/types.py
Due: pylint

Rename directories
  example/gradcam/main.py
  example/gradcam/src/__init__.py
  example/gradcam/src/gradcam.py
  example/gradcam/src/model.py
  example/gradcam/src/object_detector.py
  example/gradcam/src/types.py
  example/gradcam/src/utils.py
  example/gradcam/src/yolo.py
Due: pylint

Refactor, change BaseObjectDetector class definition, make SSD model inherit from it
  example/gradcam/main.py
  example/gradcam/src/model.py
  example/gradcam/src/object_detector.py
Due: pylint

Refactor modules structure, add GradCAM to object detection module
  example/gradcam/main.py
  foxai/callbacks/wandb_callback.py
  foxai/context_manager.py
  foxai/explainer/__init__.py
  foxai/explainer/computer_vision/__init__.py
  foxai/explainer/computer_vision/image_classification/__init__.py
  foxai/explainer/computer_vision/image_classification/base_explainer.py
  foxai/explainer/computer_vision/image_classification/conductance.py
  foxai/explainer/computer_vision/image_classification/deconv.py
  foxai/explainer/computer_vision/image_classification/deeplift.py
  foxai/explainer/computer_vision/image_classification/deeplift_shap.py
  foxai/explainer/computer_vision/image_classification/gradcam.py
  foxai/explainer/computer_vision/image_classification/gradient_shap.py
  foxai/explainer/computer_vision/image_classification/guided_backprop.py
  foxai/explainer/computer_vision/image_classification/input_x_gradient.py
  foxai/explainer/computer_vision/image_classification/integrated_gradients.py
  foxai/explainer/computer_vision/image_classification/lrp.py
  foxai/explainer/computer_vision/image_classification/noise_tunnel.py
  foxai/explainer/computer_vision/image_classification/occlusion.py
  foxai/explainer/computer_vision/image_classification/saliency.py
  foxai/explainer/computer_vision/model_utils.py
  foxai/explainer/computer_vision/object_detection/__init__.py
  foxai/explainer/computer_vision/object_detection/gradcam.py
  foxai/explainer/computer_vision/object_detection/model.py
  foxai/explainer/computer_vision/object_detection/object_detector.py
  foxai/explainer/computer_vision/object_detection/types.py
  foxai/explainer/computer_vision/object_detection/utils.py
  foxai/explainer/computer_vision/object_detection/yolo.py
  tests/test_array_utils.py
  tests/test_explainers.py
  tests/test_model_utils.py
Due: pylint

Remove unused imports
  example/notebooks/basic_usage.ipynb
Due: none

Refactor, move OD models to separate module, fix YOLO prediction generation
  example/gradcam/main.py
  foxai/explainer/computer_vision/object_detection/base_object_detector.py
  foxai/explainer/computer_vision/object_detection/gradcam.py
  foxai/explainer/computer_vision/object_detection/models/__init__.py
  foxai/explainer/computer_vision/object_detection/models/ssd/__init__.py
  foxai/explainer/computer_vision/object_detection/models/ssd/ssd_object_detector.py
  foxai/explainer/computer_vision/object_detection/models/yolov5/__init__.py
  foxai/explainer/computer_vision/object_detection/models/yolov5/model.py
  foxai/explainer/computer_vision/object_detection/models/yolov5/yolo.py
  foxai/explainer/computer_vision/object_detection/models/yolov5/yolo_object_detector.py
  foxai/explainer/computer_vision/object_detection/types.py
  foxai/explainer/computer_vision/object_detection/utils.py
Due: pylint

Apply pre-commit hooks to all files
  .github/workflows/publish_docs.yaml
  Dockerfile
  FAQ.md
  README.md
  foxai/cli/experiment_update.py
  poetry.lock
  tests/test_context_manager.py
Due: pylint

Replace excessive unnecessary dependency with simple parsing
  example/gradcam/main.py
  foxai/explainer/computer_vision/object_detection/models/yolov5/yolo_object_detector.py
  poetry.lock
  pyproject.toml
Due: pylint, locks

Remove model warmup run
  foxai/explainer/computer_vision/object_detection/gradcam.py
Due: pylint

Remove unused path in forward pass algorithm
  foxai/explainer/computer_vision/object_detection/gradcam.py
Due: pylint

Replace custom implementations with torchvision imports
  foxai/explainer/computer_vision/object_detection/models/yolov5/yolo_object_detector.py
  foxai/explainer/computer_vision/object_detection/utils.py
  poetry.lock
  tests/explainers/computer_vision/__init__.py
  tests/explainers/computer_vision/test_explainers.py
  tests/explainers/computer_vision/test_model_utils.py
Due: pylint

Add unit tests for object detection utils
  foxai/explainer/computer_vision/object_detection/utils.py
  pytest.ini
  tests/explainers/computer_vision/object_detection/__init__.py
  tests/explainers/computer_vision/object_detection/test_object_detector.py
  tests/explainers/computer_vision/object_detection/test_utils.py
Due: pylint

Fix YOLOv5 bbox conversion
  example/gradcam/main.py
  foxai/explainer/computer_vision/object_detection/models/yolov5/yolo_object_detector.py
  foxai/visualizer.py
  poetry.lock
Due: pylint

Path conditions:
  pylint: any of: \.py$
  mypy: any of: autoxai and \.py$
  locks: any of: pyproject.toml
